.vscode
.cache
*.pyc
*.pt
*.so
*.o
*.swp
*.prof
.nfs*
_cache_*
smux-*

/out
/pretrained_models/*.pt*
/data/CatMask/images
/data/CatMask/masks
/data/CatMask/pose-pseudo.txt
/data/CelebAMask-HQ/CelebA-HQ-img
/data/CelebAMask-HQ/CelebAMask-HQ-mask-anno
/data/CelebAMask-HQ/masks
/data/CelebAMask-HQ/CelebAMask-HQ-pose-anno.txt
